body{
    background-color:rgb(248, 237, 225);
}


.bigButton {
    font-family:helvetica;
    border-radius: 10px;
    padding-right:50px;
    padding-left:50px;
    padding-bottom:20px;
    padding-top:20px;
    width:fit-content;
    margin:auto;
    background-color: rgb(213, 213, 213);
}

.bigButton:link{
}

.bigButton:hover{
    background-color: rgb(157, 157, 157);
    cursor: pointer;
}

.bigButton{
    color: black;
    text-decoration: none;
}

.centreClass{
    position: absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%, -50%);
}
